<div class="container" *ngIf="selectedRestaurant">
	<form>
		<div class="form-group">
			<label for="nameInput">Restaurant name</label>
			<input #restName class="form-control" [value]="selectedRestaurant.name" id="nameInput" aria-describedby="emailHelp"
				placeholder="{{selectedRestaurant.name}}">
		</div>
		<div class="form-check">
			<input #restStatus type="checkbox" [checked]="selectedRestaurant.status"
				class="form-check-input" id="startAsOpen">
			<label class="form-check-label mb-4" for="startAsOpen">Open status</label>
		</div>
		<div class="row" >
			<div class="card w-50 mb-4" *ngFor="let dish of selectedRestaurant.dishList">
				<div class="card-body">
					<h4 class="card-title text-center text-decoration-underline">{{dish.name}}</h4>
					<div class="row text-nowrap">
						<div class="card-text h5" >Ingridents <h5 style="float: right;">Price</h5></div>
					</div>
					<div class="row text-nowrap">
						<div class="card-text" *ngFor="let ingrident of dish.ingredients">{{ingrident.name}} <p style="float: right;">{{ingrident.price}}€</p></div>
					</div>
				</div>
				<div class="row justify-content-center">
					<button routerLink="/edit-dish" (click)="setSelectedDish(dish)" class="btn btn-primary w-25">Edit dish</button>
					<button (click)="deleteDish(selectedRestaurant, dish)" class="btn btn-danger w-25">Remove dish</button>
				</div>
			</div>
				<div class="card w-50 bg-success text-white mb-4">
					<div class="card-body">
						<h5 class="card-title text-center">Add a new dish</h5>
					</div>
				</div>
		</div>
		<div class="row">
			<button routerLink="/home" (click)="editRest(restName.value, restStatus.checked);" type="submit"
				class="btn-lg w-50 btn-primary">Update Restaurant</button>
			<button routerLink="/home" (click)="deleteRest(selectedRestaurant);" type="submit"
				class="btn-lg w-50 btn-danger">Remove Restaurant</button>
		</div>
	</form>
</div>