<div class="container-lg">
	<form>
		<div class="form-group">
			<label for="nameInput">Restaurant name</label>
			<input #restName class="form-control" id="nameInput" aria-describedby="emailHelp"
				placeholder="Enter the name of the Restaurant">
		</div>
		<div class="form-check">
			<input #restStatus type="checkbox" class="form-check-input" id="startAsOpen">
			<label class="form-check-label" for="startAsOpen">Start with open status</label>
		</div>
		<button routerLink="/home" (click)="addRest(restName.value, restStatus.checked);" type="submit"
			class="btn-lg btn-primary">Submit</button>
	</form>
</div>